RewriteEngine On
RewriteBase "/002_viewer_and_editor/"
RewriteRule ^/?$ wiki.php [L]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^([A-Z][a-z0-9]*[A-Z][a-zA-Z0-9]*)$ wiki.php?word=$1 [L]
RewriteCond %{QUERY_STRING} ^edit$
RewriteRule ^([A-Z][a-z0-9]*[A-Z][a-zA-Z0-9]*)$ wiki.php?word=$1&action=edit [L]
